* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(234, 234, 234);
    font-family: "Poppins", sans-serif;
}

#navbar-top {
    float: right;
    display: flex;
    flex-direction: row;
}

#navbar-top a {
    text-align: center;
    margin: 25px 30px 0px 0px;
    height: 30px;
    width: 150px;
    background-color: #d5d23a;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 20px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
}

#navbar-top a:hover {
    color: black;
    transition-duration: .5s;
    background-color: #fffbeb;
    border-style: solid;
    border-color: #d5d23a;
}

#header {
    text-align: center;
}

.clearfix-unwrapping::after {
    content: "";
    display: table;
    clear: both;
}

#welcome-text {
    font-weight: 200;
    font-size: xxx-large;
}

#MoF-ethiopia {
    font-size: larger;
    font-weight: 200;
}

#logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

form {
    background-color: white;
    height: 370px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    border-image: linear-gradient(to right, #3f4d80 0%, #d5d23a 25%, #fff458 70%, #3a4ed5 100%) 1;
    border-style: solid;
    border-top-left-radius: 100%;
}


#trainers-only {
    padding: 20px 0px 20px 0px;
    color: red;
}

form input {
    width: 400px;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 17px;
    border-style: solid;
    border-image: linear-gradient(to right, #d5d23a 0%, #3a4ed5 100%) 1;
}


form input::placeholder {
    font-size: 17px;
}

form input:active {
    border-style: solid;
    border-image: linear-gradient(to right, #3a4ed5 0%, #d5d23a 100%) 1;
}

form button {
    width: 130px;
    height: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: transparent;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #d5d23a;

}

form button:hover {
    color: black;
    transition-duration: .5s;
    background-color: #fffbeb;
    border-style: solid;
    border-color: #d5d23a;

}

form button img {
    width: 50px;
    height: 50px;
    float: left;
}

form button p {
    float: right;
    font-size: medium;
}


#forgot-password {
    display: flex;
    margin-left: 50px 50px;
    margin-top: 30px;
    margin-left: 50px;
    text-decoration: none;
    text-decoration: underline;
}

#forgot-password p:nth-child(even) {
    color: #3a4ed5;
}

#forgot-password p:nth-child(odd) {
    color: #9c9b50;
}


footer {
    font-weight: 200;
    margin-top: 110px;
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    font-size: small;

}

footer p:nth-child(2) {
    font-size: large;
}

footer p:nth-child(3) {
    color: rgb(67, 35, 16);
    font-weight: 400;
    padding: 0 10px 0 10px;
    float: right;
}